<div id="storingStep" class="alert alert-info" style="display: block;">
    <h4 data-bind="i18n: 'NEW CARD'"></h4>
          
    <input type="checkbox" id="paycomet_showcarddata" data-bind="checked: displayMessage" />
    <label for="paycomet_showcarddata" data-bind="text: $t('Save card for future purchases.')"></label>
    <span for="paycomet_showcarddata" class="paycomet-pci" data-bind="text: $t('Card data is protected by the Payment Card Industry Data Security Standard (PCI DSS).')"></span>
    

    <div data-bind="if: displayMessage">

        <iframe id="paycomet-iframe"
        class="paycomet_iframe"
        scrolling="no"
        frameborder="0"
        border="0"
        data-bind="attr: {src: iframeUrl()}, style: {width: iframeWidth(), height: iframeHeight()}"
        onload="jQuery('body').trigger('processStop');"
        >
		</iframe>
    </div>
</div>