<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_paycomet_payment">
        <observer name="paycomet_gateway_data_assign" instance="Paycomet\Payment\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_is_active">
        <!-- Check if payment method is available depending on configuration -->
        <observer name="paycomet_instantcredit" instance="Paycomet\Payment\Observer\Apm\Instantcredit\PaymentMethodAvailable" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="paycomet_mb" instance="Paycomet\Payment\Observer\Apm\Multibanco\ObserverforAddMbVars"/>
    </event>
</config>
