<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        <label data-bind="attr: {'for': getCode()}" class="label">            
            <img class="payment-icon" data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/'+getCode()+'.png', alt: getTitle()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
            </div>
        </fieldset>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>


        <div id="paycomet_cards" data-bind="visible: isVisibleCards()">
            <p><label data-bind="text: $t('Payment Information')"></label></p>
            <select class="select required-entry"
                    data-bind="event:{change:showSaveCard},
                               attr: {
                                     name: 'payment[' + getCode() + '][paycomet_card]',
                                     id: 'paycomet_card',
                                     title: 'paycomet_card',
                                     'data-validate': JSON.stringify({required:true})},
                               options: getSelectorPaycometCards(),
                               optionsValue: 'hash',
                               optionsText: 'desc'">
            </select>
        </div>

        <div id="paycomet_savecards" data-bind="visible: isOfferSave()">            
            <input type="checkbox" name="payment[' + getCode() + '][paycomet_card]" id="paycomet_savecard">
            <label for="paycomet_savecard" data-bind="text: $t('Save card for future purchases.')"></label>
            <span class="paycomet-pci" data-bind="text: $t('Card data is protected by the Payment Card Industry Data Security Standard (PCI DSS).')"></span>            
        </div>

        <!-- Boton Principal -->
        <div class="actions-toolbar">
            <div class="primary" data-bind="visible: isVisibleButton()">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: continueProcess, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>

        <form role="form" id="paycometPaymentForm" method="POST" class="" data-bind="afterRender: jetIframeLoad, visible: isVisibleJetIframe()">
            <div class="paycomet_jet">
                <ul>
                    <li>
                        <label for="cardNumber" data-bind="text: $t('Credit card number')"></label>
                        <div id="paycomet-pan">
                            <input required="required" paycomet-style="width: 78%; width: 78%; border: 1px solid #e5e5e5; height: 32px; display: inline-block; color: #333;font-size: 18px; padding: 0 5px;" paycomet-name="pan">
                        </div>
                    </li>
                    <li class="vertical">
                        <ul>
                            <li>
                                <label data-toggle="tooltip" title="" data-bind="text: $t('Expiration')"></label>
                                <input maxlength="5" placeholder="mm/aa" id="expiry_date" pattern="[0-9]{2}/+[0-9]{2}" type="text" data-bind="event:{change: buildED, input: expiryDate }">
                                <input type="hidden" data-paycomet="dateMonth" maxlength="2"  value="">
                                <input type="hidden" data-paycomet="dateYear" maxlength="2" value="">
                            </li>
                            <li>
                                <label data-toggle="tooltip" title="" data-bind="text: $t('CVV')"></label>
                                <div id="paycomet-cvc2">
                                    <input paycomet-name="cvc2" paycomet-style="border: 1px solid #e5e5e5; height: 32px; display: inline-block; color: #333;font-size: 18px; padding: 0 5px;" class="form-control" required="required" type="text">
                                </div>
                            </li>
                            <small class="help" data-bind="text: $t('The CVV is a numerical code, usually 3 digits behind the card')"></small>                            
                        </ul>
                    </li>
                    <input type="hidden" class="paytpv_cardholdername" data-paycomet="cardHolderName" width="360" maxlength="50" value="NONAME" onclick="this.value='';">
                </ul>

                <div class="mage-error" id="paymentErrorMsg" generated="true"></div>

                <input type="hidden" data-paycomet="jetID" data-bind="value: getJetId()"></input>
                <input type="hidden" data-paycomet="cardHolderName" value="Noname">
                <button type="hidden" id="submit_jet" data-bind="click: continueToPayment"></button>
            </div>

            <!-- Boton jetIframe -->
            <div class="payment-method-content">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="enable: (getCode() == isChecked())"
                                disabled>
                            <span data-bind="text: $t('Place Order')"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div data-bind="visible: isInAction()">
            <!-- ko if: isLightboxReady() -->
            <div id="paycomet-iframe-container">

                <strong data-bind="text: $t('Enter your card')"></strong>

                <iframe data-bind="attr: {id: getCode() + '-iframe', src: getActionUrl()}, event: {load: iframeLoaded}, style: {width: iframeWidth(), height: iframeHeight()}"
                        data-container="paycomet-iframe"
                        class="paycomet_iframe"
                        scrolling="no"
                        frameborder="0"
                        border="0"
                        sandbox="allow-top-navigation allow-scripts allow-same-origin allow-forms"
                        >
                </iframe>

                <p class="form_footer" data-bind="html: getFormFooter()"></p>

                <div class="footer_paycomet">

                  <div class="paycomet_wrapper mobile">
                    <div class="footer_line">
                      <div class="footer_logo">
                        <a href="https://paycomet.com" target="_blank">
                          <img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/paycomet_logo.svg' }" alt="PAYCOMET">
                        </a>
                      </div>
                      <ul class="payment_icons">
                        <li><img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/veryfied_by_visa.png' }" alt="Veryfied by Visa"  ></li>
                        <li><img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/mastercard_secure_code.png' }" alt="Mastercard Secure code"  ></li>
                        <li data-bind="isVisibleJetIframe()">
                            <img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/safekey_amex.png' }" alt="AMEX">
                        </li>
                        <li><img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/pci.png' }" alt="PCI"  ></li>
                        <li><img data-bind="attr: { src: require.toUrl('')+'Paycomet_Payment/img/thawte.png' }" alt="Thawte"  ></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /ko -->
        </div>

    </div>
</div>
