<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paycomet_payment_section" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PAYCOMET</label>
                <comment>
                    <![CDATA[]]>
                </comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/paycomet_payment/active</config_path>
                </field>
                <group id="paycomet_payment" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>
                        <![CDATA[PAYCOMET Payment Gateway]]>
                    </label>
                    
                    <group id="paycomet_payment_paycomet" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                        <comment>
                            <![CDATA[Reduce the cost of PCI Compliance and risk of chargebacks with our fully customisable Hosted Checkout, Card Storage and Fraud Management solution with Magento 2. If you need a sandbox account please click <a href='https://www.paycomet.com/crear-una-cuenta'>here</a>.]]>
                        </comment>
                        <label>PAYCOMET Settings</label>
                        <attribute type="expanded">0</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/paycomet_payment/title</config_path>
                            <validate>required-entry</validate>
                        </field>
                        <field id="integration" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Integration</label>
                            <source_model>Paycomet\Payment\Model\Config\Source\Integration</source_model>
                            <config_path>payment/paycomet_payment/integration</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment Action</label>
                            <source_model>Paycomet\Payment\Model\Config\Source\PaymentAction</source_model>
                            <config_path>payment/paycomet_payment/payment_action</config_path>
                        </field>

                        <field id="api_key" translate="label" type="obscure" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>API Key</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/paycomet_payment/api_key</config_path>
                            <validate>no-whitespace</validate>
                        </field>

                        <field id="merchant_code" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Client Code</label>
                            <config_path>payment/paycomet_payment/merchant_code</config_path>
                            <validate>required-entry no-whitespace</validate>
                        </field>
                        <field id="merchant_terminal" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Terminal number</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/paycomet_payment/merchant_terminal</config_path>
                            <validate>required-entry no-whitespace</validate>
                        </field>
                        <field id="merchant_pass" translate="label" type="obscure" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Password</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/paycomet_payment/merchant_pass</config_path>
                            <validate>required-entry no-whitespace</validate>
                        </field>
                        <field id="jetid" translate="label" type="obscure" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>JET ID</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <depends>
                                <field id="integration">1</field>
                            </depends>
                            <config_path>payment/paycomet_payment/jetid</config_path>
                        </field>
                        <field id="merchant_terminales" type="select" translate="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Terminals available</label>
                            <source_model>Paycomet\Payment\Model\Config\Source\Terminales</source_model>
                            <config_path>payment/paycomet_payment/merchant_terminales</config_path>
                        </field>
                        <field id="secure_first" type="select" translate="label" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use 3D Secure first purchase</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paycomet_payment/secure_first</config_path>
                            <depends>
                                <field id="merchant_terminales">2</field>
                            </depends>
                        </field>
                        <field id="secure_amount" translate="label" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use 3D Secure in purchases above</label>
                            <frontend_class>validate-number</frontend_class>
                            <depends>
                                <field id="merchant_terminales">2</field>
                            </depends>
                            <config_path>payment/paycomet_payment/secure_amount</config_path>
                        </field>
                        <field id="currency" translate="label" type="select" sortOrder="38" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Accepted Currency</label>
                            <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                            <config_path>payment/paycomet_payment/currency</config_path>
                        </field>
                        
                        <field id="form_footer" type="textarea" translate="label" sortOrder="39" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Ecommerce Info</label>
                            <tooltip>Data to show below the payment form</tooltip>
                            <config_path>payment/paycomet_payment/form_footer</config_path>
                        </field>
                        
                    </group>

                    <group id="paycomet_payment_advanced" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="2">
                        <comment>
                            <![CDATA[These settings allow you to configure various options.]]>
                        </comment>
                        <label>Advanced Settings</label>
                        <attribute type="expanded">0</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        
                        <field id="card_offer_save" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Offer to save card</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paycomet_payment/card_offer_save</config_path>
                        </field>                        
                        <field id="card_manage" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Manage cards in My Account</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paycomet_payment/card_manage</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New order status</label>
                            <tooltip>Status given to newly created orders before payment result is returned.</tooltip>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/paycomet_payment/order_status</config_path>
                        </field>
                        <field id="payment_cancelled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Cancelled order status</label>
                            <tooltip>Status given to orders when payment fails.</tooltip>
                            <source_model>Paycomet\Payment\Model\Config\Source\Cancelled</source_model>
                            <config_path>payment/paycomet_payment/payment_cancelled</config_path>
                        </field>
                        <field id="iframe_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Iframe Enabled</label>
                            <tooltip><![CDATA[Iframe is displayed on the checkout page and contains the PAYCOMET Payments page. Otherwise it will redirect to the PAYCOMET Payments page for payment and return afterwards.]]></tooltip>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paycomet_payment/iframe_enabled</config_path>
                        </field>
                        <field id="iframe_mode" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Iframe Mode</label>
                            <tooltip>Lightbox is a popup on the checkout page which contains the PAYCOMET Payments page in the box. Embedded is part of the checkout page.</tooltip>
                            <source_model>Paycomet\Payment\Model\Config\Source\IframeMode</source_model>
                            <config_path>payment/paycomet_payment/iframe_mode</config_path>
                            <depends>
                                <field id="iframe_enabled">1</field>
                            </depends>
                        </field>
                        <field id="iframe_height" translate="label" type="text" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Iframe Height (px)</label>
                            <tooltip>Iframe height in pixels (Min 440)</tooltip>
                            <frontend_class>validate-digits</frontend_class>
                            <validate>validate-digits-range digits-range-440-1400</validate>
                            <config_path>payment/paycomet_payment/iframe_height</config_path>
                            <depends>
                                <field id="iframe_enabled">1</field>
                            </depends>
                        </field>
                                                                       
                        <field id="debug_log" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable debug logging</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paycomet_payment/debug_log</config_path>
                        </field>
                    </group>                    
                    <group id="paycomet_payment_country_specific" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="4">
                        <label>Country Specific Settings</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/paycomet_payment/allowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>payment/paycomet_payment/specificcountry</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
