.modal-popup._show .modal-inner-wrap {
    margin: auto;
}
.modal-popup.modal-slide{
  left:0px;
}


.footer_paycomet {
    padding: 30px 10px;
    clear: both;
}

.footer_paycomet .footer_logo {
    display: inline-block;
    width: 130px;
}


.footer_paycomet ul {
    float: left;
    font-size: 14px;
    border-right: none;
    float: right;
}

.payment_icons {
    display: inline-block;
    float: right;
    width: auto;
}

.payment_icons li {
    display: inline-block;
    margin: 0 5px 10px;
}

.payment_icons li img {
    display: block;
    height: 22px;
}

.form_footer {
    font-weight: bold;
}

.paycomet-pci {
    font-size: 0.8em;
    display: block;
}


/*  jet */

#submit_jet{
    display:none;
}

.paycomet_jet {

}

.paycomet_jet h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0px;
}

.paycomet_jet ol, .paycomet_jet ul {
    list-style: none;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-left: 0px!important;
}

.paycomet_jet .vertical{
    overflow: hidden;
}

.paycomet_jet .vertical ul{
    padding-left: 0px;
}

.paycomet_jet .vertical li {
    float: left;
    width: 140px;
}

.paycomet_jet .vertical input {
    width: 79px;
}

.paycomet_jet label {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    display: table-cell;
}

.paycomet_jet .paytpv_cardholdername {
    width: 290px;
}

.paycomet_jet .help {
    color: #aaa;
    clear: both;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 10px;
    display: block;
}

#paycomet-cvc2{
    width:79px;

}
#paycomet-pan{
    width:290px;
}
#paycomet-cvc2, #paycomet-pan{
    border-radius: 3px;
    height:36px; 
    padding:0px;
    width: 290px;
}

/* .paycomet_jet input{border:1px solid #e5e5e5;color:#333;font-size:18px;height:34px;padding:0 5px;width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px} */

.paycomet_jet input{height:32px; vertical-align: middle; display: inline-block;border:1px solid #e5e5e5;color:#333;font-size:18px;padding:0 5px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}

#paymentErrorMsg {
    font-size: 1.2rem;
    padding-bottom: 15px;
}

#paycomet_cards, #paycomet_savecards {
    padding-bottom: 15px;
}

.checkout-index-index .payment-method .checkout-ic-container .extra-text-ic {
    max-width: 350px;
}